.media-box {
  aspect-ratio: 1/1;
}

.image-wrapper{
  width:80%;
  margin:0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.metadata h2, .metadata h3 {
  font-weight: normal;
}
